article {
  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  section,
  footer,
  aside {
    a {
      padding: 0.1rem;
      font-size: 0.9rem;
      text-decoration: underline dotted;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    img {
      padding: 0.5rem 2rem;
    }
  }
}
