.o-gallery {
  display: grid;
  grid-gap: 15px;
  grid-auto-rows: 300px;

  @include media-bp(desktop) {
    grid-template-columns: repeat(auto-fill, minmax(32%,1fr));
  }
  @include media-bp(tablet) {
    grid-template-columns: repeat(auto-fill, minmax(49%,1fr));
  }
  @include media-bp(phone) {
    grid-template-columns: repeat(auto-fill, minmax(100%,1fr));
  }

  &__item {
    position: relative;
    overflow: hidden;

    &:hover {
      footer,
      header {
        @include media-bp(desktop) {
          transform: none;
        }
      }
    }
  }

  header,
  footer {
    width: 100%;
    padding: $section-padding;
    transition: transform  $website-animation-time;
    background-color: $bg-card;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-bp(desktop) {
      position: absolute;
    }
  }

  header {
    @include media-bp(desktop) {
      top: 0;
      transform: translateY(-100%);
    }
  }

  footer {
    @include media-bp(desktop) {
      bottom: 0;
      transform: translateY(100%);
    }
  }

  img {
    max-width: 100%;
    padding: 0;
  }
}