.o-newspaper {
  @include media-bp(desktop) {
    column-count: 2;
    column-gap: $grid-gutter-size*2;
  }

  &__item {
    margin-bottom: $section-padding;
    break-inside: avoid;
    overflow: hidden;
  }

  header,
  footer {
  }

  footer {
    text-align: right;
  }

  section {
  }

  img {
    max-width: 200px;
    padding: 0 $grid-gutter-size $grid-gutter-size 0;
    float: left;
  }
}