@media (prefers-color-scheme: dark) {
  :root {
    --brand-primary: #ddd;
    --brand-secondary: #ddd;
    --body-bg: #222;
    --body-color: #ddd;
    --color-hover: #999;
    --color-focus: #777;
    --color-error: red;
    --color-disabled: lightgrey;
    --color-active: #222;

    --bg-nav: transparent;
    --bg-header: #222;
    --bg-dropdown: #222;
    --bg-card: #222;
    --bg-link: #222;
    --bg-link-hover: grey;
    --bg-link-active: #ddd;
    --modal-shadow-color: rgba(255, 255, 255, 0.7);
  }
}
