body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  background-color: $body-bg;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  line-space: $headings-line-space;
  color: inherit;
}

h1,
.h1 { font-size: $font-size-h1; }

h2,
.h2 { font-size: $font-size-h2; }

h3,
.h3 { font-size: $font-size-h3; }

h4,
.h4 { font-size: $font-size-h4; }

h5,
.h5 { font-size: $font-size-h5; }

h6,
.h6 { font-size: $font-size-h6; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  @include media-bp(mobile) {
    padding-left: 1rem;
  }
}

li {
  list-style: square;
}

hr {
  margin-top: $grid-gutter-size/2;
  margin-bottom: $grid-gutter-size/2;
  border: 0;
  border-top: $website-border-secondary;
}

small,
.small {
  font-size: 0.8em;
}

blockquote {
  margin: $grid-gutter-size*2 0;
  padding: 0.5rem 1rem;
  font-size: 1.2em;
  border-left: $website-border;
  font-weight: lighter;
  font-style: italic;

  & > *:last-child {
    margin-bottom: 0;
  }
}

pre {
  font-size: 0.8rem;
  border: $website-border-secondary;
  color: color(black);
  max-width: 100%;
  overflow: auto;
  white-space: pre-wrap;
  margin: $grid-gutter-size*2 0;
  box-shadow: $website-shadow;
  background-color: color(white);

  @include media-bp(desktop) {
    padding: 0.5rem 2rem;
  }

  @include media-bp(mobile) {
    padding: 0.5rem 1rem;
  }
}

code {
  color: color(lightgrey);
  background: color(black);
  padding: 0.1em 0.4em;
}

table {
  border-collapse: collapse;
  margin: $grid-gutter-size*2 0;
  border: $website-border;
  box-shadow: $website-shadow;

  @include media-bp(mobile) {
    display: block;
    overflow: scroll;
  }
}

th {
  text-align: left;
  background-color: color(grey);
}

th,
td {
  padding: 0.5rem;
  border: $website-border-secondary;

  @include media-bp(mobile) {
    min-width: 240px;
  }
}

tfoot {
  border-top: $website-border;
  background-color: color(grey);
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

